#!name=VIP解锁
#!desc=caiyun、拦截100(<=3.0.2，版本ID:847028887)、Nicegram(<=1.0.7)、xmind思维导图(解锁订阅到2030年)、baiDuPan解锁倍率播放、aliDrive
#来源仓库：Maasea、id77/QuantumultX、I-am-R-E/Functional-Store-Hub、RuCu6

# > caiYun
#^https:\/\/biz\.cyapi\.cn\/(?:p\/v1\/vip_info|v2\/user) url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/caiYun.js

# > 拦截100
^https?:\/\/tagit\.hyhuo\.com\/cypt\/block100\/get_vip_info url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/block100.js

# > nicegram
^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url script-echo-response https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/nicegram.js

# > xmind
^https?:\/\/www\.xmind\.(?:cn|net|app)\/\_res\/devices url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/xmind.js

# > baiDuPan
^https?:\/\/pan\.baidu\.com\/rest\/\d\.\d\/membership\/user url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/baiDuPan.js

# > aliDrive
^https:\/\/api\.aliyundrive\.com\/business\/v1(\.0)?\/users\/(?:feature\/list|(me\/)?vip\/info)$ url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/aliDrive.js
^https:\/\/member\.aliyundrive\.com\/v1\/users\/me$ url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/aliDrive.js

# > xiaoXiongYouHao
^https?:\/\/www\.xiaoxiongyouhao\.com\/api\/(?:account_sync\.php|vip\/index\.php\?a=query_membership) url script-response-body https://raw.githubusercontent.com/fhqievg/rules/main/script/vipUnlock/xiaoXiongYouHao.js

hostname = biz.cyapi.cn, tagit.hyhuo.com, restore-access.indream.app, www.xmind.cn, www.xmind.net, www.xmind.app, pan.baidu.com, api.aliyundrive.com, member.aliyundrive.com, www.xiaoxiongyouhao.com